.navbar-brand {
    font-size: x-large;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bolder;
}

.red-btn {
	background: #e96656 !important;
}

.red-btn:hover {
	background: #CB4332 !important;
}