@font-face {
    font-family: Gotham;
    src: url("GothamMedium.otf") format("opentype");
}

body.application {
    background: #f2f2f2;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body.application > .container-fluid,
.container-fluid > div[class^="col-"] {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
}

.row {
    margin: 0;
}

#app-wrapper {
    position: absolute;
    width: 100%;
}

#app-maparea {
    border-right: 1px solid #d7d7d7;
    top: 0px;
}

#app-sidebar {
    padding: 10px 10px 0px 10px;
    right: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#app-sidebar .chart-wrapper {
    border: medium none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.mapboxgl-popup-content table {
    width: 100%;
}

.mapboxgl-popup-content table tr td {
    padding-right: 10px;
}

.mapboxgl-popup-content table tr:nth-child(even) {
    background: #f5f5f5;
}

.mapboxgl-popup-content {
    max-width: 250px;
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mapboxgl-popup-content tr:last-child td:last-child {
    line-height: normal;
}

.mapboxgl-popup-content h5 {
    font-size: 24px;
}

.chart-stage>.dc-chart {
    float: none;
    text-align: center;
}

.reset {
    float: right;
}

.sidebar-header-bar {
    margin-bottom: 10px;
    flex: 0 1 auto;
}

.sidebar-header-title {
    font-size: 25px;
    font-weight: 500;
}

.sidebar-header-subtitle {
    font-size: x-small;
}


/*row chart labels as black text*/

.dc-chart g.row text {
    fill: black;
}

.sidebar-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.sidebar-content div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-container {
    height: 100%;
}

.climb-count {
    font-size: x-large;
}

.climb-count-words {
    vertical-align: text-bottom;
}

.page-switch-icon {
    margin: 10px 0 0 10px;
    font-size: xx-large;
    position: absolute;
    z-index: 9;
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.page-switch-icon:hover {
    background-color: #f2f2f2;
}

.tooltip {
    font-family: inherit;
}

.page-switch-icon>i.fa {
    font-size: 30px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
}

#climbs-table-container {
    max-height: 200px;
    overflow: scroll;
}

#climbs-table {
    width: 100%;
}

#climbs-table>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#climbs-table>tr>td:first-child {
    padding-left: 3px;
}

#climbs-table>tr>td:last-child {
    padding-right: 3px;
}

#count-number-display {
    cursor: pointer;
}

.fa-list {
    font-size: large;
    padding-top: 8px;
}

@media (max-width: 767px) {
    body {
        overflow: hidden;
    }
    .page-switch-icon {
        display: block;
    }
}

@media (min-width: 768px) {
    .col-sm-8>.tooltip {
        display: none !important;
    }
}
